md-content 
  div(layout="row" layout-sm="column" layout-margin layout-align="center center" ng-controller="appController as vm")
    md-whiteframe(class="md-whiteframe-z1" layout layout-align="center center" flex="30")
      |Pizza
    md-whiteframe(class="md-whiteframe-z1" layout layout-align="center center" flex="30")
      |Linha
    md-whiteframe(class="md-whiteframe-z1" layout layout-align="center center" flex="30")
      |Barra