.container
	.columns
		.one-fourth.column
			nav.menu
				span.menu-heading Escolha o tipo de gráfico
				a(class="menu-item" href="#/pie") Pizza
				a(class="menu-item" href="#") Linha
				a(class="menu-item" href="#") Barra
				a(class="menu-item" href="#/") Início
		.three-fourths.column
			block content