/*
	css file for override and create  styles 
*/

/* define background color in body */
	body { background-color: #fff; }   
 
/* define font fize for icons home */
	.icon-home { font-size: 200px; }

/* define styles for hover well */
	.well-hover:hover {
		webkit-transfrom: scale(1.05, 1.05);
		transform: scale(1.05,1.05);
		cursor: pointer; }

	.well-hover:hover i { color: #fff; }

	.green:hover { background-color: #0f9d58; }
	.red:hover { background-color: #f44336; }
	.blue:hover { background-color: #4285f4; }

/* force color style in links */
	a { text-decoration: none !important; }

/* font size mobiwhale default */
	.mobiwhale-title { 
		font-family: 'Open Sans', sans-serif;
		font-weight: 900;
		font-size: 13px;
		margin: 6px 0; }

	.logo { 
		position: absolute; 
		bottom: 0; 
		margin-bottom: 20px; }

		.logo img { 
			-webkit-animation: lightscrool 2s infinite;  Chrome, Safari, Opera  
    		animation: lightscrool 2s infinite; }

@keyframes lightscrool {
	0% { top: 0; }
	50% { top: 20px; }
	100% { top: 0; }
}

@-webkit-keyframes lightscrool {
	0% { margin-bottom: 0px; }
	50% { margin-bottom: 10px; }
	100% { margin-bottom: 0px; }
}
